@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  font-family: "Geom" , sans-serif;
  color-scheme: dark;
}

.nav-item li a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease-out;
}

.nav-item li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: left;
  transition: transfrom 0.3s ease-out;
}

.nav-item li a:hover {
  transform: scale(1.15);
}

.nav-item li a:hover::after {
  transform: scaleX(1);
}